@model UserManagement.Web.Models.Users.UserListViewModel

@{
    ViewBag.Title = "All Users";
    string currentAction = ViewContext.RouteData.Values["action"]?.ToString() ?? "ListAll";
}

@functions {
    @* switch statement for alternating body title based on route calling view*@
    string GetControllerAction(string currentAction)
    {
        switch (currentAction)
        {
            case "ListAll":
                return "All Users";
            case "ListActiveOnly":
                return "Active Users";
            case "ListNonActive":
                return "Non Active Users";
            case "UserView":
                // take the first user Id for concatenation (list is only single user)
                return $"User #{Model.Items.FirstOrDefault()?.Id.ToString()}";
            default:
                return "Users List";
        }
    }
}

<h2>@(GetControllerAction(currentAction))</h2>

<div class="table-responsive" style="max-height: 71vh; overflow-y: auto; margin-bottom: 10px;">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="@(currentAction != "UserView" ? "d-none" : "")">Id</th>
                <th>Forename</th>
                <th>Surname</th>
                <th>Email</th>
                <th>Account Active</th>
                <th class="@(currentAction != "UserView" ? "d-none" : "")">Date Of Birth</th>
                <th style="width: 1px;" class="@(currentAction == "UserView" ? "d-none" : "")">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td class="@(currentAction != "UserView" ? "d-none" : "")">
                        @item.Id
                    </td>
                    <td>
                        @item.Forename
                    </td>
                    <td>
                        @item.Surname
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        @(item.IsActive ? "Yes" : "No")
                    </td>
                    <td class="@(currentAction != "UserView" ? "d-none" : "")">
                        @item.DateOfBirth
                    </td>
                    <td class="@(currentAction == "UserView" ? "d-none" : "")">
                        <div class="dropdown">
                            <button type="button" class="btn btn-default dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" id="btnToggleActions">
                                Actions
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="btnToggleActions">
                                <li><a asp-controller="Users" asp-action="UserView" asp-route-id="@item.Id" class="dropdown-item">View User</a></li>
                                <li><a asp-controller="Users" asp-action="ShowUserEdit" asp-route-id="@item.Id" class="dropdown-item">Edit</a></li>
                                <li>
                                    <form asp-controller="Users" asp-action="UserDelete" asp-route-id="@item.Id" method="post">
                                        <input type="hidden" name="id" value="@item.Id" />
                                        <button type="submit" class="dropdown-item">Delete</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<hr />

<div>
    <div class="btn-group" role="group">
        <a asp-controller="Users" asp-action="ListAll" class="btn btn-default btn-hover-highlight @(currentAction == "ListAll" ? "btn btn-primary" : "")">Show All</a>
        <a asp-controller="Users" asp-action="ListActiveOnly" class="btn btn-default btn-hover-highlight @(currentAction == "ListActiveOnly" ? "btn btn-primary" : "")">Active Only</a>
        <a asp-controller="Users" asp-action="ListNonActive" class="btn btn-default btn-hover-highlight @(currentAction == "ListNonActive" ? "btn btn-primary" : "")">Non Active</a>
    </div>

    <a asp-controller="Users" asp-action="ShowUserCreate" class="btn btn-primary float-end">Add User</a>
</div>

